$background-color:#f8f8f8;
$background-shadows:0 0 5px #c0c0c0;
$resume-color:#303030;
$resume-background-color:white;
$link-color:black;
$external-link-color:black;
$h1-color:#101010;
$h2-color:#101010;
$h3-color:#101010;
$example-color:#0d0957;